    
.product-checkbox {
    display: grid;
   grid-template-columns: repeat(12, 1fr);
}

.checkmain {
    background-color: bisque;
    grid-column: auto/span 2;
}
.productList {
    padding: 15px 73px 0px 23px;
    grid-column: auto/span 10;
    display: grid;
    grid-column-gap: 20px;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}
.checkmain >div{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}
.productMain{
    border: 1px solid lavender;
    padding: 10px;
    box-shadow: 2px 3px lavender;
}
.tiltename {
    font-size: 19 px;
}
input.cartbutton {
    width: 73%;
    border-radius: 8px;
    padding: 5px;
    font-size: 19px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
    background-color: darkorange;
    color: white;
}
.add {
    display: flex;
    margin: 13px;
    justify-content: center;
    align-items: center;
}
.cart {
    display: flex;
    justify-content: center;
}
.vaue {
    margin: 0px 13px;
}
  img.productImges {
    width: 144px;
    height: 150px;
    object-fit: fill;
}
.image {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
input.addDel {
    width: 39px;
    border-radius: 6px;
    height: 27px;
    border: none;
    font-size: 20px;
    color: white;
    background-color: darkorange;
    cursor: pointer;
}
    /* .productHower:hover{
        background-color: grey;
        color: white;
        box-shadow: 0px 0px 10px grey;
    } */
/* table, th, td {
    border: 1px solid black;
  } */