.loginPage {
    height: 100vh;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginPageForm {
    border: 1px solid  cadetblue;
    padding: 70px;
    background-color: white;
    position: relative;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type="submit"] {
    margin-top: 16px;
    background-color: lightslategray;
    border: none;
    padding: 11px;
    cursor: pointer;
    color: white;
}
input[type="text"] {
    height: 24px;
}
.errorMsg {
    color: red;
    margin-right: 25px;
}
.loginTitle {
    position: absolute;
    top: -13px;
    left: 18px;
    padding: 2px;
    border: 1px solid lightslategray;
    background-color: white ;
    color: aquamarine;
}