.cartpages {
    padding: 10px;
}
input.goback {
    border: 1px solid;
    background-color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0px 0px 9px grey;
}
.heading {
    margin: 27px 0px;
}
.tableContent {
    border: 1px solid lavender;
    padding: 25px;
    width: 70%;
    box-shadow: 2px 3px lavender;
}
.tableHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.clear {
    cursor: pointer;
    border: 1px solid;
    background-color: white;
    padding: 9px;
    font-size: 14px;
    box-shadow: 0px 0px 9px grey;
}
.addordelete {
    display: flex;
    align-items: center;
    justify-content: center;
}
input.addDelte {
    width: 33px;
    cursor: pointer;
    border-radius: 6px;
    height: 26px;
    border: none;
}
table {
    border-collapse: collapse;
    width: 100%;
  }     
  tr{
    border-bottom: 1px solid lightgray;;
  }
  img.tableImg {
    width: 139px;
    height: 138px;
    object-fit: fill;
}
td{
    padding: 13px 0px;
}   
td.amount {
    padding-left: 60%;
}
input.checkout {
    margin-top: 16px;
    background-color: lightslategray;
    border: none;
    border-radius: 5px;
    padding: 11px;
    color: white;
}
table.cartTable {
    text-align: center;
}   