.nav_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: darkviolet;
    padding: 20px;
    color: white;
}
.titleName {
    font-size: 22px;
}
.logout,.cartSymbol {
    font-size: 17px;
}
.actionButton > span{
    margin-left: 23px;
}
span.logout {
    cursor: pointer;
}
span.cartSymbol {
    cursor: pointer;
    position: relative;
}
span.userName {
    font-size: 20px;
}
.badge {
    position: absolute;
    top: -11px;
    right: -9px;
    padding: 2px 6px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 13px;
}