.checouttable {
    border: 1px solid lavender;
    padding: 25px;
    width: 70%;
    background-color: aliceblue;
    box-shadow: 2px 3px lavender;
}
.checkOut {
    margin: 58px 0px 0px 15px;
}
.goBack {
    margin-bottom: 14px;
}
.selectedIItem {
    margin-bottom: 12px;
    color: darkgrey;
}
.modal {
    transform: translate(170%, 168%);
    width: 290px;
    height: 52px;
    padding: 22px 3px;
    background-color: white;
    text-align: center;
    box-shadow: 0px 0px 9px grey;
}
.goHome {
    float: right;
    padding-right: 33px;
    margin-top: 21px;
    cursor: pointer;
    color: blueviolet;
}
.modalMain{

       position: fixed;
        z-index: 1;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
        overflow: auto;
    }

